Natalie Wellen<br>
2/11/20<br>
Exercise 16

In [2]:
import pandas as pd
from urllib.request import urlopen

In [4]:
gitLinkYohan = "https://docs.google.com/spreadsheets/d/e/2PACX-1vQQ_ePBaN0RuAw0aHdA4tNwScjDe6v6m2O342Hv9bekJyJADPmj_1Qg0VJwapzC4bZosu15CRhePpca/pub?gid=0&single=true&output=csv"
gitLinkAndy = "https://github.com/abunnell-source/GroupData/raw/master/DFnew.csv"
gitLinkNatalie = "https://github.com/tygris/PUBPOL_GovAnalytics/raw/master/tax.pkl"

yohanData = pd.read_csv(gitLinkYohan).loc[:,['Country', 'EducationIndex']]
andyData = pd.read_csv(gitLinkAndy).loc[:,['Country', 'ReligionImportant']]
natalieData = pd.read_pickle(urlopen(gitLinkNatalie),compression=None)

In [57]:
natalieData.head()

     Country  taxRevenuePercentGDP
0     Tuvalu                 1.067
1      Nauru                 0.903
2  Greenland                 0.774
3   Kiribati                 0.768
4    Andorra                 0.690

In [58]:
yohanData.head()

       Country  EducationIndex
0    Australia           0.939
1      Denmark           0.923
2  New Zealand           0.917
3       Norway           0.916
4      Germany           0.914

In [5]:
andyData.head()

          Country  ReligionImportant
0         Estonia               0.16
1          Sweden               0.17
2         Denmark               0.19
3          Norway               0.21
4  Czech Republic               0.21

In [6]:
#see if there are any country name spelling mismatches
dirtyMerge1=natalieData.merge(yohanData,how='outer',indicator=True)

In [7]:
dirtyMerge1.loc[dirtyMerge1['_merge']=='right_only',"Country"].tolist()

['Czech Republic',
 'South Korea',
 'Russian Federation',
 'Brunei Darussalam',
 'Bahamas',
 'Palestine',
 'Micronesia',
 'Viet Nam',
 'Swaziland',
 'Congo',
 'Democratic Republic of the Congo',
 'Syrian Arab Republic',
 'Myanmar',
 'Gambia']

In [62]:
dirtyMerge1.loc[dirtyMerge1['_merge']=='left_only',"Country"].tolist()

['Tuvalu',
 'Nauru',
 'Greenland',
 'Micronesia, Federated States of',
 'Marshall Islands',
 'Anguilla',
 'San Marino',
 'Czechia',
 'French Polynesia',
 'British Virgin Islands',
 'Cayman Islands',
 'American Samoa',
 'Falkland Islands (Islas Malvinas)',
 'Northern Mariana Islands',
 'Faroe Islands',
 'Macau',
 'Cook Islands',
 'Kosovo',
 'Virgin Islands',
 'Eswatini',
 'Saint Pierre and Miquelon',
 'Aruba',
 'Vietnam',
 'Gibraltar',
 'Korea, South',
 'Congo, Republic of the',
 'Guam',
 'Guernsey',
 'New Caledonia',
 'Gambia, The',
 'Brunei',
 'Bahamas, The',
 'Wallis and Futuna',
 'Curacao',
 'Jersey',
 'Russia',
 'Bermuda',
 'Taiwan',
 'Monaco',
 'Isle of Man',
 'Burma',
 'West Bank',
 'Korea, North',
 'Congo, Democratic Republic of the',
 'Puerto Rico',
 'Syria',
 'Somalia']

Only two countries in yohanData did not get matched up, so now we are going to change the country names in natalieData and then merge on this.

In [8]:
# dictionary to change 'Country' names
country_fix = {'Czechia': 'Czech Republic',
               'Korea, South': 'South Korea',
               'Russia': 'Russian Federation',
               'Brunei': 'Brunei Darussalam',
               'Bahamas, The': 'Bahamas',
               'West Bank': 'Palestine',
               'Micronesia, Federated States of': 'Micronesia',
               'Vietnam': 'Viet Nam',
               'Eswatini': 'Swaziland',
               'Congo, Republic of the': 'Congo',
               'Congo, Democratic Republic of the': 'Democratic Republic of the Congo',
               'Syria': 'Syrian Arab Republic',
               'Burma': 'Myanmar',
               'Gambia, The': 'Gambia'}
# use the dictionary
natalieData.Country.replace(country_fix,inplace=True)

In [9]:
EE = natalieData.merge(yohanData)

In [10]:
len(EE), len(yohanData)

(188, 188)

In [11]:
#see if there are any country name spelling mismatches
dirtyMerge2=EE.merge(andyData,how='outer',indicator=True)

In [68]:
dirtyMerge2.loc[dirtyMerge2['_merge']=='right_only',"Country"].tolist()

['Vietnam',
 'The Netherlands',
 'Russia',
 'Taiwan',
 'North Macedonia',
 'Puerto Rico',
 'Syria',
 'State of Palestine',
 'Republic of the Congo',
 'Somalia']

In [70]:
dirtyMerge2.loc[dirtyMerge2['_merge']=='left_only',"Country"].tolist()

['Kiribati',
 'Andorra',
 'Palau',
 'Micronesia',
 'Libya',
 'Netherlands',
 'Iceland',
 'Solomon Islands',
 'Dominica',
 'Tonga',
 'Lesotho',
 'Seychelles',
 'Eritrea',
 'Saint Kitts and Nevis',
 'Fiji',
 'Barbados',
 'Macedonia',
 'Saint Vincent and the Grenadines',
 'Swaziland',
 'Samoa',
 'Guyana',
 'Cabo Verde',
 'Bhutan',
 'Vanuatu',
 'Mongolia',
 'Maldives',
 'Sao Tome and Principe',
 'Grenada',
 'Viet Nam',
 'Saint Lucia',
 'Congo',
 'Mauritius',
 'China',
 'Gambia',
 'Antigua and Barbuda',
 'Brunei Darussalam',
 'Papua New Guinea',
 'Guinea-Bissau',
 'Bahamas',
 'Gabon',
 'Equatorial Guinea',
 'Russian Federation',
 'Suriname',
 'Sierra Leone',
 'Liechtenstein',
 'Palestine',
 'Timor-Leste',
 'South Sudan',
 'Syrian Arab Republic']

In [12]:
# dictionary to change 'Country' names
country_fix2 = {'Vietnam': 'Viet Nam',
 'The Netherlands': 'Netherlands',
 'Russia': 'Russian Federation',
 'North Macedonia': 'Macedonia',
 'Syria': 'Syrian Arab Republic',
 'State of Palestine': 'Palestine',
 'Republic of the Congo': 'Congo'}
# use the dictionary
andyData.Country.replace(country_fix,inplace=True)

In [13]:
REE = EE.merge(andyData)
REE.head()

   Country  taxRevenuePercentGDP  EducationIndex  ReligionImportant
0     Cuba                 0.581           0.779               0.34
1   Norway                 0.544           0.916               0.21
2   France                 0.538           0.839               0.30
3  Finland                 0.531           0.847               0.28
4  Denmark                 0.530           0.923               0.19

In [14]:
len(REE), len(andyData)

(142, 149)

***
### Save to Disk

In [74]:
REE.to_pickle("REE.pkl")
# you will need: DF=pd.read_pickle("REE.pkl")
# or:
# from urllib.request import urlopen
# DF=pd.read_pickle(urlopen("https://..../REE.pkl"),compression=None)

In [75]:
from rpy2.robjects import pandas2ri
pandas2ri.activate()

from rpy2.robjects.packages import importr

base = importr('base')
base.saveRDS(REE,file="REE.RDS")

#In R, you call it with: DF = readRDS("REE.RDS")
#or, if iyou read from cloud: DF = readRDS(url("https://..../REE.RDS")

rpy2.rinterface.NULL

For creating the devoloping country list

In [20]:
REE.to_excel('REE_countries.xlsx', 'Sheet2',columns = ['Country'], header = False, index=False)

In [21]:
countries = REE['Country'].tolist()

In [24]:
sorted(countries)

['Afghanistan',
 'Albania',
 'Algeria',
 'Angola',
 'Argentina',
 'Armenia',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahrain',
 'Bangladesh',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Central African Republic',
 'Chad',
 'Chile',
 'Colombia',
 'Comoros',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Cuba',
 'Cyprus',
 'Czech Republic',
 'Democratic Republic of the Congo',
 'Denmark',
 'Djibouti',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Estonia',
 'Ethiopia',
 'Finland',
 'France',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Guatemala',
 'Guinea',
 'Haiti',
 'Honduras',
 'Hong Kong',
 'Hungary',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Liberia',
 'Lithuania',
 'Luxembourg',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Mali',
 'Malta',
 'Mauritania',
 'Mexico',
 'Moldova',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nepal',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'Norway',
 'Oman',
 'Pakistan',
 'Panama',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Qatar',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'South Africa',
 'South Korea',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Togo',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Uruguay',
 'Uzbekistan',
 'Venezuela',
 'Viet Nam',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [32]:
'China' in andyData['Country'].unique()

False